html {
    overflow-y: hidden;
}

#messages {
    width: 20%;
    background-color: #fff;
    position: absolute;
    left: 80%;
    top: 0;
    height: 100%;
    z-index: 1;
    transition: all 500ms;
    direction: rtl;
    z-index: 0;
    border: 0.1rem solid #bbb;
    padding: 1rem;
}

#messages > div {
    text-align: center;
}

#messages > div:first-child {
    margin-top: 5.5rem;
}

#messages > div:nth-child(2) {
    float: left;
    margin: 1rem 2rem;
}

#messages > div:nth-child(3) {
    clear: left;
    float: right;
    width: 100%;
    text-align: right;
}

#messages > div:nth-child(3) > div > span {
    display: inline-block;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 1rem;
    width: 100%;
    box-shadow: 0 0 6px 2px #888;
}

#messages > div:nth-child(3) > div:first-child > div:last-child {
    background-color: #6b899f;
}

#messages > div:nth-child(3) > div > div:last-child {
    box-shadow: 0 0 6px 2px #888;
}

#messages > div:nth-child(3) > div > div:last-child > img {
    margin-left: 1rem;
    height: 2rem;
    cursor: pointer;
}

#messages > div:nth-child(3) > div > div:last-child > p {
    text-align: center;
    padding-bottom: 3rem;
    margin: 0;
}

#messages img {
    height: 1rem;
    vertical-align: middle;
    margin: 0.5rem;
    cursor: pointer;
}

#messages > div:nth-child(2) > span {
    cursor: pointer;
}