#layout-items {
    margin: 5.5rem 1rem 1rem 1rem;
    direction: rtl;
}

#layout-items > div:first-child > h1 {
    display: inline-block;
    margin-right: 1rem;
}

#layout-items > div:first-child > a:nth-child(4) {
    margin-right: 1rem;
}

#layout-items > div:first-child > button {
    float: left;
}

#layout-items > div:first-child > button {
    margin-right: 1rem;
}

#layout-items > div {
    text-align: center;
    margin: 2rem 1rem 1rem 1rem;
    float: left;
}

#layout-items > div:first-child {
    border-radius: 1rem;
    box-shadow: 0 0 6px 2px #aaa;
    text-align: right;
    padding: 1rem;
    width: 98%;
    margin: 1rem 1rem 0 1rem;
}

#layout-items > div:first-child > img {
    height: 1.5rem;
    vertical-align: middle;
    cursor: pointer;
}

#layout-items > div:first-child > img:first-child {
    height: 5rem;
    vertical-align: middle;
}

#layout-items > div:last-child {
    width: 98%;
}

#layout-items > div:last-child > div > ul {
    list-style-type: none;
    padding: 1rem;
    margin: 0;
    padding: 1rem;
}

#layout-items > div:last-child > div > ul:nth-child(5) {
    background-color: #73859f;
}

#layout-items > div:last-child > div > ul li {
    display: inline-block;
    width: 14%;
}

#layout-items > div:last-child > div > ul li img {
    height: 1rem;
    cursor: pointer;
}

#layout-items > div:last-child > div > ul li:first-child {
    width: 57%;
}

#layout-items > div > div {
    border-radius: 1rem;
    box-shadow: 0 0 6px 2px #aaa;
    text-align: right;
    margin-bottom: 2rem;
    padding: 1rem;
}

#layout-items > div > div {
    
}

#layout-items > div:nth-child(2) > div:first-child > h3 {
    margin: 0;
}

#layout-items > div:nth-child(2) > div:first-child > p:last-child {
    margin: 0;
}

.file-box span {
    border-bottom: 0.1rem solid #000;
    margin: 0 1rem;
}

.file-box a {
    border-bottom: 0.1rem solid #000;
    margin: 0 2rem;
}

.file-box button {
    margin: 0 1rem 1rem 0;
}

#search-input {
    border: 0.1rem solid #aaa;
    padding: 0.5rem;
    border-radius: 0.2rem;
    width: 15rem;
}

.forum-new-section {
    border: 0.1rem solid #aaa;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 2rem;
}

.forum-new-inner-section {
    margin: 2rem;
}

.forum-new-inner-section > * {
    display: inline-block;
    vertical-align: top;
}

.forum-new-inner-section > div {
    width: 3rem;
    margin-left: 3rem;
}

.forum-new-inner-section > textarea {
    width: 90%;
}

#forum-new-box {
    border: 0.1rem solid #aaa;
    border-radius: 0.5rem;
    height: 10rem;
    width: 80%;
    margin-right: 5rem;
}

#forum-new-box > div:first-child {
    border-bottom: 0.1rem solid #aaa;
    border-radius: 0.5rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

#forum-new-box > div:first-child > button {
    width: 10rem;
}

#forum-new-box > div:first-child > button:nth-child(2) {
    margin: 0 10rem;
}

.forum-new-inner-section > input {
    
}