#layout-items {
    margin: 5.5rem 1rem 1rem 1rem;
}

#layout-items > div {
    text-align: center;
    margin: 2rem 1rem 1rem 1rem;
    float: left;
}

#layout-items > div:first-child {
    border-radius: 1rem;
    box-shadow: 0 0 6px 2px #aaa;
    text-align: right;
    padding: 1rem;
    width: 98%;
    margin: 1rem 1rem 0 1rem;
}

#layout-items > div:first-child > img {
    height: 1.5rem;
    vertical-align: middle;
}

#layout-items img {
    vertical-align: middle;
}

#layout-items > div:last-child {
    width: 74.8%;
}

#layout-items > div > div {
    border-radius: 1rem;
    box-shadow: 0 0 6px 2px #aaa;
    text-align: right;
    margin-bottom: 2rem;
    padding: 1rem;
}

#layout-items > div > div {
    
}

#layout-items > div:nth-child(2) > div:first-child > h3 {
    margin: 0;
}

#layout-items > div:nth-child(2) > div:first-child > p:last-child {
    margin: 0;
}

#layout-items > div:nth-child(2) {
    width: 21%;
    direction: rtl;
}

.file-box span {
    border-bottom: 0.1rem solid #000;
    margin: 0 1rem;
}

.file-box a {
    border-bottom: 0.1rem solid #000;
}

.file-box button{
    margin: 0 1rem 1rem 0;
}

#search-input {
    border: 0.1rem solid #aaa;
    padding: 0.5rem;
    border-radius: 0.2rem;
    width: 15rem;
}

.m-1 {
    margin-right: 1rem;
}

.m-2 {
    margin-right: 2rem;
}

#review-info {
    direction: rtl;
    border-bottom: 0.1rem solid #000;
    padding: 0;
}

#review-info > div {
    margin-right: 3rem;
}

#review-info > div > p {
    display: inline-block;
    margin: 0.5rem;
}

#review-info > div > p:nth-child(odd) {
    font-weight: bold;
}

.review-question {
    direction: rtl;
}

.review-question > div {
    border-radius: 0.5rem;
    box-shadow: 0 0 6px 2px #aaa;
    text-align: right;
    padding: 1rem;
    width: 98%;
    margin: 1rem 1rem 0 1rem;
    display: inline-block;
}

.review-question > div > p:last-child {
    cursor: pointer;
}

.review-question > div:first-child {
    width: 15%;
    vertical-align: top;
}

.review-question > div:nth-child(2) {
    width: 78%;
}

.review-question > div:last-child {
    width: 79%;
    background-color: #fff3cd;
    color: #977204;
    box-shadow: none;
    margin-right: 19%;
}

.review-question > div:nth-child(2) > input {
    cursor: not-allowed;
}

#question-validation > a {
    width: 10%;
    display: inline-block;
    border-radius: 0.2rem;
    border: 0.1rem solid #000;
}

#question-validation > a > p:first-child {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

#question-validation > a > p:last-child {
    background-color: #008000;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

#question-validation > a:nth-child(4) > p:last-child {
    background-color: #caa500;
}

#question-validation > a:nth-child(5) > p:last-child {
    background-color: #ca0000;
}

#question-validation > a > p {
    margin: 0;
    text-align: center;
    padding: 0.2rem;
}